<!DOCTYPE html>
<htmlhtml lang="it"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>recensioni</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
	<p class="empty-message"
	   th:if="${#lists.isEmpty(reviews)}">

	    Non ci sono ancora recensioni a tuo nome.

	</p>


	<div class="review-list"
	     th:if="${not #lists.isEmpty(reviews)}">

	    <article class="review-card"
	             th:each="rev : ${reviews}">

	        <div class="review-header">

	            <span class="review-date"
	                  th:text="${rev.date}">
	            </span>

	            <span class="review-date"
	                  th:text="${rev.film.title}">
	            </span>

	            <div class="review-actions">

	                <span class="review-vote">
	                    ⭐
	                    <span th:text="${rev.vote}"></span>
	                    /5
	                </span>

	                <a class="film-link"
	                   th:href="@{/recensione/{id}/mod(id=${rev.id})}">
	                    modifica
	                </a>

					<a class="film-link"
					   th:href="@{/recensione/{id}/canc(id=${rev.id})}">
					   elimina
					</a>
	            </div>

	        </div>

	        <p class="review-text"
	           th:text="${rev.text}">
	        </p>

	    </article>

	</div>

</body>

</html>