<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Le tue recensioni</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

		  <meta name="_csrf" th:content="${_csrf.token}">
		  <meta name="_csrf_header" th:content="${_csrf.headerName}">

</head>

<body>

    <div id="root"></div>

	<input type="hidden" th:field="*{id}">
    <!-- React -->
    <script
        src="https://unpkg.com/react@18/umd/react.development.js">
    </script>

    <script
        src="https://unpkg.com/react-dom@18/umd/react-dom.development.js">
    </script>

    <!-- Babel -->
    <script
        src="https://unpkg.com/@babel/standalone/babel.min.js">
    </script>


    <!-- Recensione React component -->
    <script
        type="text/babel"
        th:src="@{/js/Recensione.jsx}">
    </script>


    <!-- Start React -->
    <script type="text/babel" th:inline="javascript">

        const userId = /*[[${userId}]]*/ 0;

        const root = ReactDOM.createRoot(
            document.getElementById("root")
        );

        root.render(
            <Recensione userId={userId} />
        );

    </script>

</body>

</html>
